/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orelega+One&family=Outfit:wght@100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Orelega one";
    font-weight: 400;
}

/* grid visualisation CSS for testing structure */

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightblue;
}

.test {
    float: right;
}
