/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orelega+One&family=Outfit:wght@100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Orelega one";
    font-weight: 400;
}

#navbar {
background-color: teal;
}

div > .card-body {
    background-color: rgb(181, 232, 222);
    height: 190px;
    
}

.social-links {
    font-size: x-large;
    color: azure;
}

/* grid visualisation CSS for testing structure 

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightblue;
}
*/

.test {
    float: left;
    
}

/* footer contact */

footer {
    height: 1000px;
    background-color: cadetblue;
    color: azure;
    padding-bottom: 3rem;

}

#footer i {
    color: hsla(252, 48%, 6%, 0.681);
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i {
    color: whitesmoke;
    font-size: 1.9rem;
}


body {
    scroll-behaviour: smooth;
}